<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head"></head>
<body>
<div>
    <div th:replace="shards/navbar :: navigation"></div>
    <div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Query:</h3>
        </div>
        <div class="panel-body">
            <form role="form" id="search" th:action="@{/search}" method="post" th:object="${searchForm}">
                <div class="input-group col-xs-4">
                    <input type="text" id="query" name="query" th:field="*{query}" class="form-control" placeholder="Query"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Search results:</h3>
        </div>
        <div class="panel-body" th:if="${!(#lists.isEmpty(searchResults))}">
            <table class="table table-striped">
                <tr>
                    <th>English</th>
                    <th>Polish</th>
                    <th class="col-lg-1">Score</th>
                    <th class="col-lg-1"></th>
                </tr>
                <tr class="searchResult" th:each="result : ${searchResults}">
                    <td th:text="${result.english}">English</td>
                    <td th:text="${result.polish}">Polish</td>
                    <td class="col-lg-1" th:text="${result.score}">Score</td>
                    <td>
                        <form role="form" id="delete" th:action="@{/deleteContent}" method="post" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="english" th:value="${result.english}"/>
                            <input type="hidden" name="polish" th:value="${result.polish}"/>
                            <button type="submit" style="border: none;padding: 0; background:none"><span class="glyphicon glyphicon-remove-circle"></span></button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body" th:if="${(#lists.isEmpty(searchResults))}">
            There are no search results.
        </div>
    </div>
    </div>
</div>
</body>
</html>
